# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

stages:
  - stage: Build
    jobs:
      - job: Build

        pool:
          vmImage: 'ubuntu-latest'

        steps:
        - task: NodeTool@0
          inputs:
            versionSpec: '10.x'
          displayName: 'Install Node.js'

        - script: |
            npm install
            npm run build
          displayName: 'npm install and build'

        - script: |
            npm run test-juint
          displayName: 'npm test'
        - task: PublishTestResults@2
          condition: succeededOrFailed()
          inputs:
            testResultsFormat: 'JUnit'
            testResultsFiles: '**/test-results.xml'

        - task: CopyFiles@2
          inputs:
            SourceFolder: '$(Build.SourcesDirectory)'
            Contents: |
              **/*
              !.git/**/*
              !node_modules/**/*
            TargetFolder: '$(Build.ArtifactStagingDirectory)'
            CleanTargetFolder: true

        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)'
            ArtifactName: 'nestjs-winston'
            publishLocation: 'Container'
  - stage: Deploy
    jobs:
      - job: Deploy
        pool:
          vmImage: 'ubuntu-latest'

        steps:
        - task: DownloadPipelineArtifact@2
          inputs:
            buildType: 'current'
            targetPath: '$(Pipeline.Workspace)'
        - task: Npm@1
          displayName: 'npm publish'
          inputs:
            command: publish
            workingDir: '$(Pipeline.Workspace)/nestjs-winston/'
            verbose: false
            publishEndpoint: NPMJS